{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h2>Would this clothing fit me?</h2>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </header>
    <main>
    <form id="clothingFitForm" class="container" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        {% for field in form %}
            <label class="input-label">{{ field.label }}</label>
                {{ field }}
            <label class="error">{{ field.errors }}</label>
        {% endfor %}
        <input type="submit" class="button" value="Get prediction"/>
    </form>
    <div id="prediction-output">
        {{ prediction }}
    </div>
    </main>
</body>
</html>